html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #e7e3ed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #8B7CAB;
    background: #1A1622;
  }
}
